*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}
body,
h1,
p,
button,
.form {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 2rem auto;
  text-align: center;
}
.lastResult {
  color: white;
  padding: 3px;
}
